# gitignore

Dockerfile
nginx.conf
# API testing
*.API-requests.http

# Script para iniciar base de datos
db_setup.py

# Virtual enviroment
.venv
.venv/*

# Enviroment
.env

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# Visual Studio Code # 
.vscode/* 
.vscode
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
